SUPABASE_URL=
SUPABASE_ANON_KEY=
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
VITE_SUPABASE_PUBLISHABLE_KEY=
VITE_SQUAD_API_BASE_URL=
VITE_SQUAD_API_PUBLIC_KEY=
SQUAD_API_BASE_URL=
SQUAD_API_SECRET_KEY=
SQUAD_MERCHANT_ID=
SUPABASE_ACCESS_TOKEN=
SUPABASE_PROJECT_REF=
